<div class="row shadow-sm rounded p-3 mb-2 bg-light">
    <div class="row">
        <div class="col-md-6">
            <p>{{ review.emotion.emoji }}
                Publish By
                <a href="" class="link-info link-underline-opacity-0">
                    {{ review.user.username }}
                </a>
                <span>On {{ review.date | date("m/d/Y") }}</span>
            </p>
        </div>
        <div class="col-md-6">
            <p class="text-end">Score {{ review.score }} / 5</p>
        </div>
    </div>
    <div class="row">
        <div class="p-3 mb-2 border-top">{{ review.review | raw }}</div>
    </div>
</div>
