{% extends 'base.html.twig' %}

{% block title %}BookTracker{% endblock %}

{% block body %}
<main>
    <div class="bg-primary-subtle">
        <div class="container w-50 py-5 d-flex justify-content-center">
            <div>
                <h1 class="display-5 fw-bold mb-4">
                    Keep Track of<br/>
                    Your Readings!
                </h1>
                <p class="fs-5 mb-4">
                    Embark on a literary voyage with BookTracker!<br/>
                    Your personalized book database to track, conquer, and curate your reading journey.<br/>
                    Dive into a world of stories and take control of your reading adventure today!
                </p>
                <div class="d-flex gap-3">
                    {% if app.user %}
                        <a href="{{ path('app_search') }}" class="btn btn-primary">Search Books</a>
                        <a href="{{ path('app_reading_list', { 'username': app.user.username }) }}" class="btn btn-secondary">My Reading List</a>
                    {% else %}
                        <a href="{{ path('app_register') }}" class="btn btn-primary">Sign Up</a>
                        <a href="{{ path('app_login') }}" class="btn btn-secondary">Log In</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container w-50 py-5">
            <h2 class="fw-bold mb-5 text-center">
                Check out the Library!
            </h2>
            <div class="row mb-5 row-gap-4">
                {% if books is null %}
                    <div class="card py-3">
                        <div class="card-body">
                            {# Instead of failing hard, we just tell the user we are sorry. #}
                            {# If $books is null, that means we don't have enough books in the database. #}
                            {# This should not be a reachable case, but better be sorry anyway. See the controller class. #}
                            <p class="card-text text-center">We're sorry! Some technical issues made it impossible to load this section.</p>
                        </div>
                    </div>
                {% else %}
                    {% for book in books %}
                        <div class="col-xxl-4">
                            <div class="card h-100">
                                <div class="card-body p-0 d-flex flex-column">
                                    <div class="img-thumbnail" style="width: 100%; height: 200px; padding: 0;">
                                        <img class="img-fluid d-flex align-items-center justify-content-center"
                                             src="{{ vich_uploader_asset(book) }}"
                                             alt="{{ book.title }}"
                                             style="width: 100%; height: 100%; object-fit: cover">
                                    </div>
                                    <div class="p-4 flex-grow-1 d-flex flex-column">
                                        <h5 class="card-title">{{ book.title }}</h5>
                                        {% if book.genre is null %}
                                            <h6 class="card-subtitle mb-2 text-body-secondary">Genre unspecified</h6>
                                        {% else %}
                                            <h6 class="card-subtitle mb-2 text-body-secondary">{{ book.genre.label }}</h6>
                                        {% endif %}
                                        <p class="card-text mt-1">{{ book.description|striptags('')|slice(0, 142) }} [...]</p>
                                        <div class="flex-grow-1"></div>
                                        <a href="{{ path('app_book', { 'id': book.id }) }}"
                                           class="btn btn-primary mt-1">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="py-3">
                <h2 class="fw-bold mb-5 text-center">
                    What are you waiting?
                </h2>
                <div class="d-flex flex-column align-items-center">
                    <p class="fs-5 mb-4 text-center">You may as well look some books for yourself!</p>
                    <a href="{{ path('app_search') }}"
                       class="btn btn-primary mt-1 d-block">Search in the Library</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-secondary-subtle">
        <div class="row py-5">
            <div class="col d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h2 class="display-5 fw-bold mb-4">
                        Got a question?
                    </h2>
                    <p class="fs-4 mb-4">
                        Feel free to ask us for more information!
                    </p>
                </div>
            </div>
            <div class="col me-5">
                <div class="m-5">
                    <a href="{{ path('contact.index') }}"
                       class="btn btn-primary btn-lg d-block py-4 fs-1
                              d-flex align-items-center justify-content-center">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
