{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
    <div class="container">
        {% if user.username == app.user.username %}
            {% if user.blocked %}
                <div class="alert alert-warning" role="alert">
                    Your account is blocked and not visible.
                </div>
            {% elseif not user.public %}
                <div class="alert alert-info" role="alert">
                    Your profile page is not public.
                </div>
            {% endif %}
            {{ _self.user_profile(user) }}
        {% elseif user.blocked %}
            <div class="alert alert-warning" role="alert">
                This user is blocked.
            </div>
        {% elseif not user.public %}
            <div class="alert alert-info" role="alert">
                This user profile is not public.
            </div>
        {% else %}
            {{ _self.user_profile(user) }}
        {% endif %}
    </div>
{% endblock %}

{% macro user_profile(user) %}
    {# TODO: Make this look better because this is awlful in my opinion #}
    <div class="d-flex align-items-center gap-2">
        <div style="width: 100px; height: 100px; display: grid; align-items: center; justify-content: center; border: 1px solid hsla(0, 0%, 0%, 0.2); border-radius: 50%; clip-path: circle(50%); text-align: center;">
            <img
                class="img-fluid"
                src="{{ vich_uploader_asset(user, 'profilePictureFile') }}"
                alt="{{ user.username }}'s user profile"
                onerror="this.onerror = null; this.alt = 'No profile picture';"
            >
        </div>
        <div>
            <h1>{{ user.username }}</h1>
        </div>
        <div>
            {# TODO: Set this href attribute to the reading list route. Right now, it is pointing to the wrong one. #}
            <small><a href="{{ path('app_user_profile_show', {'username': user.username}) }}">Reading list</a></small>
        </div>
        {% if user.username == app.user.username %}
            <div>
                {# TODO: Set this href attribute to the 'manage account' route. Right now, it is pointing to the wrong one. #}
                <small><a href="{{ path('app_user_profile_show', {'username': user.username}) }}">Manage account</a></small>
            </div>
        {% endif %}
    </div>
    <div class="d-flex align-items-center gap-2">
        <small>Joined: {{ user.registrationDate ? user.registrationDate|date('Y-m-d H:i:s') : '' }}</small>
        <small>Last login: {{ user.lastLoginDate ? user.lastLoginDate|date('Y-m-d H:i:s') : '' }}</small>
    </div>
    <div>
        <p>{{ user.description }}</p>
    </div>
{% endmacro %}
