{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}'s Reading List{% endblock %}

{% block body %}
<main class="container my-5 px-5">
    <div class="my-5 d-flex align-items-center gap-4">
        <h1 class="fw-bold m-0">{{ user.username }}'s Reading List</h1>
        <a href="{{ path('app_user_profile', { 'username': user.username }) }}" class="btn btn-primary btn-lg fw-bold">Profile</a>
    </div>
    <div class="row row-cols-lg-2 row-cols-1 row-gap-4">
        {% for bookWithReview in booksWithReview %}
            {{ _self.display_book_card(bookWithReview) }}
        {% endfor %}
    </div>
</main>
{% endblock %}

{% macro display_book_card(bookWithReview) %}
{% set book = bookWithReview[0] %}
{% set review = bookWithReview[1] %}
<div class="col">
    <div class="card">
        <div class="row">
            <div class="col-4 pe-0">
                <div class="img-thumbnail border-0 border-end rounded-0 h-100 d-flex align-items-center justify-content-center">
                    <img class="img-fluid" src="{{ vich_uploader_asset(book, 'coverPictureFile') }}">
                </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title align-middle">{{ book.title }} <span class="ms-1">{{ review.emotion }}</span></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ book.genre ?? 'Unspecified genre' }}</h6>
                    {% if review is null %}
                        <p class="card-text">Score: Not reviewed yet</p>
                    {% else %}
                        <p class="card-text">Score: {{ review.score }}</p>
                    {% endif %}
                    <div class="d-flex gap-3">
                        <a href="TODO: action to set status" class="btn btn-primary">Action</a>
                        <a href="{{ path('app_book', { 'id': book.id }) }}" class="btn btn-secondary">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
